<nav>
    <div class="nav-1">
        <a class="logo"href="/"><img src="/public/img/logo/DigiSound.png" alt="Logo DigiSound"></a>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/shop">Shop</a></li>
            <li><a href="/about-us">About Us</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/contact-us">Contact Us</a></li>
        </ul>        
    </div>
    <div class="nav-3">
        <ul>
            <li><a href="/add-product">Add Product</a></li>
        </ul>        
    </div>
    <div class="nav-2">
        <a href="/account">Admin</a>
        <ul>
            <li>
                <a href="/"><img src="/public/img/emoticone/loupe.png" alt="loupe de recherche de produits"></a>
            </li>
            <li>
                <a href="/"><img src="/public/img/emoticone/panier.png" alt="pagnier achat"></a>
            </li>
        </ul>
    </div>
</nav>