<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DigiSound | Panier</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/produit.css">
    <link rel="shortcut icon" href="/public/img/logo/logoSimple.png" type="image/x-icon">
    <script src="https://js.stripe.com/v3/"></script>
    <script src="/public/js/checkout.js" defer></script>
</head>
<body>
    <% if(user && user.admin){ %>
        <%- include('partials/navAdmin.ejs') %>
    <% }else if(user && user.admin == false){ %>
        <%- include('partials/navUser.ejs') %>
    <% }else{ %>
        <%- include('partials/nav.ejs') %>
    <% } %>
        <h1>Payement</h1>
    <form id="payment-form">
        <div id="payment-element">
            <!--Stripe.js injects the Payment Element-->
        </div>
        <button id="submit">
            <div class="spinner hidden" id="spinner"></div>
            <span id="button-text">Pay now</span>
        </button>
        <div id="payment-message" class="hidden"></div>
    </form>
</body>
</html>