<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/shop.css">
    <script src="/public/js/return.js" defer></script>
    <link rel="shortcut icon" href="/public/img/logo/logoSimple.png" type="image/x-icon">
</head>
<body>
    <% if(user){ %>
        <%- include('partials/navAdmin.ejs') %>
    <% }else{ %>
        <%- include('partials/nav.ejs') %>
    <% } %>

    <h1>Thanks for your order!</h1>
    <section id="success" class="hidden">
        <p>
            We appreciate your business! A confirmation email will be sent to <span id="customer-email"></span>.
            If you have any questions, please email <a href="mailto:bouderga.abdessamade@gmail.com">bouderga.abdessamade@gmail.com</a>.
        </p>
    </section>

</body>
</html>